.cv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    border-bottom: 2px solid #373234;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #F3ECE4;
    min-height: calc(35% - 194px);
}

div.picture {
    border-right: 2px solid #D84339;
    padding-right: 50px;
}

img.picture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.left_info {
    border-right: 2px solid #D84339;
    padding-right: 50px;
}

.right_info {
    border-right: solid 2px #D84339;
    padding-right: 50px;
}