.cv {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    border-bottom: 2px solid #373234;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #F3ECE4;
    min-height: calc(35% - 194px);
}

div.picture {
    border-right: 2px solid #D84339;
    padding-right: 50px;
}

img.picture {
    width: 230px;
    height: 230px;
    border: 2px #373234 solid;
    border-radius: 25px;
    box-shadow: #373234 5px 5px 5px;
    object-fit: cover;
}

.left_info {
    border-right: 2px solid #D84339;
    padding-right: 50px;
}

.right_info {
    padding-right: 50px;
}
